<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">RateYourRoommate</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <nav class="site-navigation page-navigation">
  <ul class="navbar-nav">
    <li><a href="#top">Home</a></li>|
     <li class="nav-item"><a href="#section-one">About</a></li> |
    <li class="nav-item"><a href="#section-two">Meet the Team</a></li> |
    <li class="nav-item"><a href="#section-three">Testimonials</a></li> |
    <li><a href="#section-four">Sign-Up!</a></li>

    <ul class="nav navbar-nav navbar-right">

     <li> <a onclick="window.location.href='/signup'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     <li> <a onclick="window.location.href='/login'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   </ul>
</ul>

</div>
</nav>
</nav> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Roommate</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#section-one">About</a></li>
      <li><a href="#section-two">Meet the Team</a></li>
        <li><a href="#section-three">Testimonials</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li> <a onclick="window.location.href='/signup'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li> <a onclick="window.location.href='/login'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
