<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#"><img src="./assets/images/RYRlogo.png"></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <nav class="site-navigation page-navigation">
  <ul class="navbar-nav">
    <li><a href="#top">Home</a></li>|
     <li class="nav-item"><a href="#section-one">About</a></li> |
    <li class="nav-item"><a href="#section-two">Meet the Team</a></li> |
    <li class="nav-item"><a href="#section-three">Testimonials</a></li> |
    <li><a href="#section-four">Sign-Up!</a></li>

    <ul class="nav navbar-nav navbar-right">

     <li><li style="float:right"><a onclick="window.location.href='/signup'"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     <li><li style="float:right"><a onclick="window.location.href='/login'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
   </ul>
</ul>

</div>
</nav>
</nav>
