<!DOCTYPE html>
<html lang="en-us">

<head>
  <title>Title</title>

  <script src="https://use.fontawesome.com/4074bba375.js"></script>

  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
  <link rel="stylesheet" href="/assets">

</head>
<body>

    {{{body}}}

  <!--
    <script src="/user_food" type="text/javascript"></script>
    <script src="/scripts" type="text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="./javascript/login.js"></script>
    <script type="text/javascript" src="./javascript/members.js"></script>
    <script type="text/javascript" src="./javascript/signup.js"></script>
    <script type="text/javascript" src="./javascript/handlebars.js"></script> -->


  </body>
</html>
