{{> nav }}
<div class="container">

      <div class="jumbotron dash">
           <h1>Find and Rate a Roommate!</h1>
           <h2>Never have a bad roommate experience again.</h2>

      <div>


    <div class="row">

        <!-- start of add roommate modal(espie) -->
          <!-- <button  type="button" class="btn btn-info btn-lg cta-btn welcome" data-toggle="modal"
           data-target="#myModal">
          </button>

         <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog modal-lg">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;
                 </button>

                  <h4 class="modal-title" >Add A Roommate</h4>

               </div>
               <div class="modal-body"> -->

                  <form method="post" name="filter" action="/roommates">
                    <label for="name" class="col-form-label">Name</label>
                    <input class="form-control" type="text" name="name" />
                </div>
                <div class="form-group">
                    <label for="rlocation" class="col-form-label">Roomate Location</label>
                    <input class="form-control" type="text" name="rlocation" placeholder="Washington, DC" />
                </div>
                <div class="form-group">
                    <label for="withRoom" class="col-form-label">With Room?</label>
                    <!-- <input class="form-control" type="text" name="withRoom" placeholder="" /> -->
                    <select name="withRoom" class="form-control">
                        <option name="withRoom" selected>Select One</option>
                        <option name="withRoom" value="male">Yes</option>
                        <option name="withRoom" value="female">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-form-label">Gender</label>
                    <select name="gender" class="form-control">
                    <option name="gender" selected>Select One</option>
                    <option name="gender" value="male" >Male</option>
                    <option name="gender" value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age" class="col-form-label">Age</label>
                    <input class="form-control" name="age" type="text" />
                </div>
                <div class="form-group">
                    <label for="bio">Bio</label>
                    <input class="form-control" name="bio" type="text" />
                </div>

                <input type="hidden" name="userId" value="{{userid}}" />
                <input type='submit' class="btn btn-primary" value='ADD' id="upload" />
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
        </div>
    </div>
  </div>-->
  </div>
</div>

  <!-- end of add roommate modal(espie) -->
