{{> nav}}

<main id="HomeMain">

          <!-- <div class="background-image responsive"></div> -->
               <div id="top" class="jumbotron">
                    <h1>Find and Rate a Roommate!</h1>
                    <h2>Never have a bad roommate experience again.</h2>
                    <br>
                    <button type="button" class="btn btn-info btn-lg cta-btn animated infinate headShake" data-toggle="modal" data-target="#myModal">Not a member? Sign up here</button>

                  </div>
                  <!-- Start of sign up form (espie) sign up modal -->


                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">

                      <div id="SignUpForm">
                        <!-- <div class="col-md-4 order-md-1 text-center form"> -->
                          <h2 class="mb-3">Rate Your Roommate!</h2>
                          <br>
                          <h5>Sign Up</h5>
                          <form id="signup" name="signup" method="post" action="/signup">
                            <div class="form-group">
                              <label for="email" class="col-form-label">Email</label>
                              <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-form-label">Name</label>
                              <input type="text" class="form-control" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                              <label for="password" class="col-form-label">Password</label>
                              <input class="form-control" name="password" type="password" placeholder="Password" />
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="location" class="col-form-label">Location</label>
                              <!-- <input type="text" class="form-control" name="location" placeholder="City"> -->

                                    <select name="location" class="form-control">
                                      <option name="location" selected>Select One</option>
                                      <option name="location" value="Arlington, Va">Arlington, Va</option>
                                      <option name="location" value="Washington, DC">Washington, DC</option>
                                      <option name="location" value="Baltimore, Md.">Baltimore, Md.</option>
                                      <option name="location" value="Baltimore, Md.">New York, NY.</option>

                                      <option name="location" value="Los Angeles, Ca">Los Angeles, Ca.</option>
                                      <option name="location" value="Seattle, Wa">Seattle, Wa.</option>
                                      <option name="location" value="Silcon Valley, Ca.">Silicon Valley, Ca.</option>
                                    </select>

                              </div>
                              <div class="form-group col-md-4">
                                <label for="gender" class="col-form-label">Gender</label>
                                <select name="gender" class="form-control">
                                  <option name="gender" selected>Select One</option>
                                  <option name="gender" value="male">Male</option>
                                  <option name="gender" value="female">Female</option>
                                </select>
                              </div>
                              <div class="form-group col-md-2">
                                <label for="age" class="col-form-label">Age</label>
                                <input class="form-control" name="age" type="number" />

                              </div>
                            </div>
                            <div class="form-group">
                              <label for="bio">Bio</label>
                              <textarea class="form-control" name="bio" type="text" rows="3">{{userBio}}</textarea>
                            </div>
                            <input type="checkbox" checked="checked"> Remember me
                                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                            <div class="form-group text-right">
                              <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>


          <!-- (espie)end of sign up form -->


          <div class="container">
            <br>
          <div class="row">
            <div class="col-sm-12 text-center">
              <hr style="border : none;">
          <div id="icons" class="row text-center">
            <div class="col-sm-4">
              <i class="fa fa-user fa-3x">
              </i>
            <i class="fa fa-long-arrow-right fa-3x"></i>
            <i class="fa fa-user fa-3x">
            </i>
            <h2>roomie to roomie</h2>
            <p class="userTypeDescription">Looking for a roommate to go apartment-hunting with?</p>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-user fa-3x">
            </i>
          <i class="fa fa-long-arrow-right fa-3x"></i>
          <i class="fa fa-user fa-3x">
          </i>
          <h2>tbd roomie to roomie</h2>
          <p class="userTypeDescription">Potential roomie looks at your ratings.</p>
          </div>
          <div class="col-sm-4">
            <i class="fa fa-user fa-3x">
            </i>
            <i class="fa fa-long-arrow-right fa-3x"></i>
            <i class="fa fa-user fa-3x">
            </i>
              <h2>roomie to tbd roomie</h2>
            <p class="userTypeDescription">roomie reads about potential roomie's interests and habits.</p>
           </div>
          </div>
          </div>
          </div>

          <hr>
          <br>

          <div class="page-header">
            <h1>About Us:</h1>
        </div>
        <br>
          <div class= "about">
          <!-- <h1>About Us:</h1>
          <br> -->
          <div id="section-one" class ="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Roommate Matching</h2>
            <p class="lead">See potential roommates ratings and we'll let you know then there's a mutual match. No more wasting time on roommates that would never work out.</p>
          </div>
              <div class="col-md-5 text-center">
                <img class="img-thumbnail img-responsive" src="./assets/img/dislike.jpg">
              </div>
            </div>
            <br>
            <hr>
            <br>
          <div class ="row featurette">
            <div class="col-md col-md-pull-7 text-center">
              <img class="img-thumbnail img-responsive" src="./assets/img/rommate.jpg">
                <div class="col-md-7 col-md-push-5">
                  <h2 class="featurette-heading">Complete Information</h2>
                    <p class="lead">Rate Your Roommate gathers all the right information right in front of you. No need to prune potential roommates based on one-line responses.</p>
                  </div>
              </div>
          </div>
          <br>
            <hr>
            <br>
            <div class ="row featurette">
              <div class="col-md-7 col-md-push-5 text-left">
                  <h2 class="featurette-heading">Love Where you Live.</h2>
                    <p class="lead">A happy home is where three things line up: you, your roommate, and your apartment. We help you focus on living situations where  the <strong> roommate(s) </strong> fit.</p>
                  </div>
                      <div class="col-md col-md-pull-7 text-center">
                        <img class="img-thumbnail img-responsive" src="./assets/img/roomies2.jpg">

              </div>
            </div>
          </div>
          <br>
          <hr>

          <br>
          <div class="team">
            <h1>Meet the Team!</h1>
            <br>
          <div id="section-two" class="row">
                <div class="col-md-3">
                  <div class="thumbnail">
                    <!-- <a href="./assets/img/perla.jpg"> -->
                      <img class="img-circle" src="./assets/img/perla.jpg"  style="width:85%">
                      <div class="caption">
                        <br>
                        <p>Perla Showell</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="thumbnail">
                    <!-- <a href="./assets/img/brooke.jpg"> -->
                      <img class="img-circle" src="./assets/img/brooke.jpg"  style="width:85%">
                      <div class="caption">
                        <br>
                        <p>Brooke Baker</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="thumbnail">
                    <!-- <a href="/w3images/fjords.jpg"> -->
                      <img class="img-circle" src="./assets/img/es.jpeg"  style="width:85%">
                      <div class="caption">
                        <br>
                        <p>Esperanza Freeman</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="thumbnail">
                    <!-- <a href="./assets/img/haley.png"> -->
                      <img class="img-circle" src="./assets/img/haley2.png"  style="width:85%">
                      <div class="caption">
                        <br>
                        <p>Haley Lock</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <br><br>
          <hr>
          <br>
          <div class="testimonials">
            <h1>Testimonials:</h1>
              <div id="section-three">
          <br><br>
          <div class="card-columns">
            <div class="card p-5">
              <blockquote class="blockquote mb-0 card-body">
                <p> I found the most laid back roommate I've ever had using Rate Your Roommate. - John D., Chicago.</p>

            </blockquote>
          </div>
          <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p> Rate Your Rooommate could not be more easy to use! - Jack F., NYC.</p>

            </blockquote>
          </div>
          <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p>Rate Your Rooommate helped me narrow down my roommate search. - Chris S., Dallas.</p>

            </blockquote>
          </div>
          <div class="card p-5">
            <blockquote class="blockquote mb-0 card-body">
              <p> I was able to track down a suitable roommate in a matter of days, instead of weeks. Rate Your Rooommate is so easy to use. - John M., Seattle.</p>

          </blockquote>
          </div>
          <div class="card p-5">
            <blockquote class="blockquote mb-0 card-body">
              <p> You rock, Rate Your Rooommate. I have the best roommate in all of Miami. - Andi L., Miami.</p>

          </blockquote>
          </div>
          <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
              <p> I'm no longer miserable having a roommate. Thanks, Rate Your Rooommate, you're is a game changer. - Jen F., Boston.</p>

            </blockquote>
          </div>
          <br><br><br>
          </div>
          </div>
          </div>
        </div>



</main>
